body {
  margin: 0px;
  padding: 0px;
  position: relative;
}

.main {
  position: absolute;
  z-index: 1;
  background-color: #F7F7F7;
  opacity: 40%;
  width: 100%;
}

.header {
  padding-left: 137;
  background-color: white;
  height: 84px;
  width: auto;
  box-shadow: 0px 3px 30px #7b7b7b29;
  position: relative;
}

.header-text {
  font: normal normal bold 35px/49px Inter;
  position: absolute;
  left: 137px;
  top: 23px;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
  font: normal normal normal 20px/24px Inter;
  letter-spacing: 0px;
  color: #424242;
}

a {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  margin-inline: 20px;
}

.back-button {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: #424242 0% 0% no-repeat padding-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%)
    hue-rotate(180deg);
}

.add-button {
  width: 50px;
  height: 50px;
  background: #00a5ec 0% 0% no-repeat padding-box;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 15px;
  font-size: 35px;
  color: white;
  font-weight: 600;
}

.card {
  height: 280px;
  width: 500px;
  border-radius: 10px;
  border: 1px solid #ededed;
  background-color: white;
  position: relative;
  box-shadow: 0px 0px 10px #888888;

  margin-top: 15px;
  margin-left: 15px;
}

h4 {
  position: absolute;
  left: 150px;

  font: normal normal medium 25px/24px Inter;
  letter-spacing: 0px;
  color: #00a5ec;
}

hr {
  position: absolute;
  top: 60px;
  width: 100%;
}

.item-list {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 90px;
  left: 30px;
}

input {
  height: 30px;
  width: 30px;
  font: normal normal normal 18px/21px Inter;
  border: 1px solid #ededed;
  border-radius: 4px;
}

.complited-task {
  font: normal normal normal 18px/21px Inter;
  text-decoration: line-through;
  margin-left: 10px;
  color: #888888;
}

.pending-task {
  font: normal normal normal 18px/21px Inter;
  letter-spacing: 0px;
  margin-left: 10px;
  color: #424242;
}

.card-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.item-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.pop-up {
  left: 441px;
  top: 184px;
  width: 500px;
  height: 250px;
  position: absolute;
  z-index: 2;
  background-color: white;
  box-shadow: 0px 0px 20px #67676729;
  border: 1px solid #ededed;
  border-radius: 10px;
  opacity: 1;
}

.pop-header {
  text-align: left;
  font: normal normal medium 22px/26px Inter;
  letter-spacing: 0px;
  color: #404040;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.input-value {
  height: 40px;
  width: 460px;
  position: inherit;
  top: 90px;
  left: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ededed;
  border-radius: 4px;
  /* padding: 20px; */
}


.button-row-inside {
  position: inherit;
  top: 145px;
  right: 20px;
  /* top: 400px; */
}

.button {
  width: 180px;
  height: 48px;
  /* margin: 20px; */
  background: #00a5ec 0% 0% no-repeat padding-box;
  border-radius: 4px;
  border-color: white;
  border-width: 0px;
  /* right: 20px; */
  font: normal normal normal 18px/21px Inter;
  letter-spacing: 0px;
  color: #ffffff;
}